@use "sass:color";

$accent: #EFCFEF;
$wall: #F9E2FD;
$wall_border: color.adjust($wall, $lightness: -5%);
$wall_light: color.adjust($wall, $lightness: 5%);
$fg: #3c424d;
$bg: #FDF7FD;

$util_bg: $bg;
$util_bg_high: #FDFDFD;
$util_bg_highest: #FDEFFD;
$util_border: #F6E0F8;
$util_fg: #4D21CB;
$util_button_bg: #FDEFFD;
$util_button_bg_pressed: color.adjust($util_button_bg, $lightness: -5%);
$util_button_fg_pressed: color.adjust($util_button_bg_pressed, $lightness: -20%);
$util_button_border_pressed: color.adjust($util_button_bg_pressed, $lightness: -10%);

$article_h1: #409fd5;
$article_h2: #ea76cb;
$article_h3: #a839ef;
$article_italic: #a839ef;
$article_bold: #ea76cb;
$article_link: #409fd5;


$close: #f38ba8;
$maximize: #a6e3a1;

$bar_accent: #F3E1F7;
$bar_bg: linear-gradient(to right, $bar_accent 70%, color.adjust($bar_accent, $lightness: 2%));
$bar_fg: #4D21CB;

$logo: $accent;

$nav_bg: $bar_accent;
$nav_fg: $bar_fg;
$nav_accent: color.adjust($nav_bg, $lightness: -10%);
$nav_border: $nav_accent;

$window_bar_bg: linear-gradient(to right, $accent 70%, color.adjust($accent, $lightness: 10%));
$window_bar_fg: #4D21CB;

$window_border: #90F3E1;
$window_outline: $window_bar_fg;

$window_bg: linear-gradient(135deg, $bg 50%, color.adjust($accent, $lightness: 5%));
$window_fg: $fg;
