@use "sass:color";

:root {
  --accent: #EFCFEF;
  --wall: #F9E2FD;
  --wall-border: #e9b2eD;
  --wall-light: #ffebff;

  --fg: #4D21CB;
  --h1: #409fd5;
  --h2: #ea76cb;
  --h3: #a839ef;
  --italic: #a839ef;
  --bold: #ea76cb;
  --link: #409fd5;

  --bg: #FDF7FD;
  --bg: #FDF7FD;

  --bg-high: #fdfdfd;
  --bg-highest: #fdeffd;
  --border: #f6e0f8;

  --bg-pressed: #f6e0f8;
  --fg-pressed: #5D21DB;
  --border-pressed: #ffcfff;

  --window-header: #f3e1f7;
  --window-header-light: #f3f1f7;
  --window-border: #90f3e1;
  --window-outline: var(--fg);

  --close: #f38ba8;
  --close-fg: #a05567;
  --close-pressed: #f7a2b8;
  --close-fg-pressed: #cc6d7e;

  --maximize: #a6e3a1;
  --maximize-fg: #557c52;
  --maximize-pressed: #b6eab3;
  --maximize-fg-pressed: #85b981;

  --bar-bg: #f3e1f7;
  --bar-fg: #d390e2;
  --bar-pressed: #d390e2;
  --bar-pressed-light: #e3b9ec;
  --bar-border: #cba0d1;

  --bar-button: #efcfef;
  --bar-button-fg: #d390e2;
  --bar-button-pressed: #ffcfff;
  --bar-button-fg-pressed: #e3a0e2;
}
