<!doctype html>
---
import Bar from "../components/Bar.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>utils</title>
	</head>
    <body>
        <div class="wall"></div>
        <Bar />
		<slot />
	</body>
</html>

<style lang="scss" is:global>
    @use "../styles/main.scss";
    @use "../styles/_article.scss";
</style>
