---
import Bar from "../components/Bar.astro";
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>EC2854</title>
        <link rel="shortcut icon" href="/favicon.gif" type="image/png">
	</head>
    <body class="w-screen h-screen m-0 p-0 text-[var(--fg)] overflow-hidden">
        <div class="wall relative w-full h-screen animate-[gradientShift_20s_infinite]"></div>
        <Bar />
        <slot />
    </body>
</html>
